:root {
    --font: monospace;
    --darkgray: #303030;
}

body {
    background-color: darkslategrey;
}

h2 {
    font-family: var(--font);
    margin-bottom: 2%;
}

div#samplerContainer {
    position: relative;
    background-color: var(--darkgray);
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
}

div.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 2% 0;
    background-color: #484848;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid black;
}

div.bottomControls {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid black;
    border-bottom: none;
}

input#sampleName, input#trackTitle {
    height: 35px;
    width: 100px;
    margin: 2px;
    font-family: var(--font);
    font-size: 1.2em;
}

select#selectEffect {
    height: 40px;
    width: 75px;
    background-color: lightgray;
    margin: 1px;
    border-bottom: 4px solid gray;
    font-family: var(--font);
    font-size: 1.2em;
}

select#selectEffect:hover {
    cursor: pointer;
}

label {
    font-family: var(--font);
    font-size: 1.2em;
}

input#trackBPM {
    height: 35px;
    width: 50px;
    margin: 2px;
    text-align: center;
    font-family: var(--font);
    font-size: 1.2em;
}

.controlButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
    background-color: lightgray;
    margin: 1px;
    border-bottom: 4px solid gray;
}

img.controlIcon {
    height: 25px;
    width: 25px;
}

.controlButton:hover, button#addSampleButton:hover, .deleteSample:hover, .muteSample:hover, .closeEffect {
    cursor: pointer;
    background-color: gray;
}

button#addSampleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80px;
    background-color: lightgray;
    margin: 1px;
    font-weight: bold;
    color: black;
    font-family: var(--font);
    font-size: 1.2em;
    border-bottom: 4px solid gray;
}

div#effectsControl {
    align-items: center;
    justify-content: space-evenly;
    background-color: #484848;
    border-top: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliderContainer label {
    margin: 0 20px;
}

#sampleGainControl, #sampleDistortionControl, #sampleDelayControl, #sampleReverbControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    z-index: 1000;
    background-color: #484848;
    border: 1px solid black;
    border-radius: 10px;
}

.closeEffect {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 20px;
    width: 20px;
    background-color: #484848;
    border: none;
    border-top-right-radius: 10px;
}

.closeEffectButtonContainer {
    width: 100%;
    margin-bottom: -10px;
}

.multiEffectWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

span.effectsLabel {
    font-family: var(--font);
    font-size: 1.5em;
}

span {
    font-family: var(--font);
}

.multiEffectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.effectContainer {
    width: 85px;
}

input[type="range"] {
    -webkit-appearance: none;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg); /*do same for other browsers if required*/
    margin: 50px 0;
    width: 100px;
    height: 5px;
    background: gray;
    outline: none;
    border: 1px solid black;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: black;
    width: 8px;
    height: 35px;
    border-radius: 2px;
}

div#playerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgray);
    margin: 0 0 5% 0;
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}

div#rollContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    box-sizing: border-box;
    margin: 5% 0 5% 0;
}

div.seq-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    background-color: gray;
    padding: 2px 0 2px 0;
}

div.seq-column span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 2px;
    height: 25px;
    width: 300px;
    text-align: center;
    font-family: var(--font);
    font-size: 1.2em;
}

button.seq-note {
    height: 25px;
    width: 25px;
    background-color: white;
    border: none;
    margin: 2px;
}

button.seq-note:hover {
    cursor: pointer;
}

button.deleteSample, button.muteSample {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: lightgray;
    border: none;
    margin: 2px;
}

input[type="text"] {
    border: 1px solid black;
}

@media (max-width: 950px) {
    div#samplerContainer, div#playerContainer {
        width: 100%;
    }

    input#sampleName, input#trackTitle {
        height: 35px;
        margin: 5px;
        width: 25%;
        font-size: 1em;
    }

    .sampleControl {
        width: 10%;
    }

    div#rollContainer {
        width: 100%;
    }

    button.seq-note {
        border: 1px solid gray;
        height: 28px;
        width: 28px;
    }

    div.seq-column span {
        width: 150px;
        height: 28px;
    }

    button.muteSample, button.deleteSample {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 800px) {
    div.seq-column span {
        display: none;
    }
}

@media (max-width: 500px) {
    div#samplerContainer, div#playerContainer {
        width: 100%;
    }

    .sampleControl {
        width: 10%;
    }

    div#rollContainer {
        width: 100%;
    }

    button.seq-note {
        border: 1px solid gray;
        height: 15px;
        width: 15px;
    }

    div.seq-column span {
        display: none;
    }

    button.muteSample, button.deleteSample {
        width: 15px;
        height: 15px;
    }

    .controlButton {
        height: 35px;
        width: 40px;
    }

    img.controlIcon {
        height: 20px;
        width: 20px;
    }

    select#selectEffect {
        height: 35px;
        width: 55px;
        font-size: 0.75em;
    }

    button#addSampleButton {
        height: 35px;
        width: 60px;
        font-size: 0.75em;
    }

    input#sampleName, input#trackTitle {
        height: 35x;
        margin: 1px;
        width: 25%;
        font-size: 0.75em;
        padding: 0;
    }
}