:root {
    --font: monospace;
    --darkgray: #303030;
}

body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: var(--font);
    user-select: none;
}

div#samplerContainer {
    position: relative;
    background-color: var(--darkgray);
    width: 80%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
}

div.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 2% 0;
    background-color: #484848;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid black;
}

div.bottomControls {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid black;
    border-bottom: none;
}

input#sampleName, input#trackTitle {
    height: 36px;
    width: 100px;
    margin: 2px;
    font-family: var(--font);
    font-size: 1.2em;
}

select.selectEffect, select.selectMenu {
    height: 40px;
    width: 75px;
    background-color: lightgray;
    margin: 1px;
    border-bottom: 4px solid black;
    border-right: 2px solid black;
    font-family: var(--font);
    font-size: 1.2em;
    user-select: none;
}

select.selectEffect:hover, select.selectMenu {
    cursor: pointer;
}

select.selectMenu {
    width: 250px;
}

label {
    font-family: var(--font);
    font-size: 1.2em;
    user-select: none;
}

input#trackBPM {
    height: 36px;
    width: 50px;
    margin: 2px;
    text-align: center;
    font-family: var(--font);
    font-size: 1.2em;
}

.controlButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
    background-color: lightgray;
    margin: 1px;
    border-bottom: 4px solid black;
    border-right: 2px solid black;
    font-family: var(--font);
    user-select: none;
}

button:disabled {
    border-color: black;
}

img.controlIcon {
    height: 28px;
    width: 28px;
}

.controlButton:hover, button#addSampleButton:hover, .deleteSample:hover, .muteSample:hover, #openLoadSampleMenuButton:hover, .menuButton:hover {
    cursor: pointer;
    background-color: gray;
}

button#addSampleButton, button#openLoadSampleMenuButton, .menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80px;
    background-color: lightgray;
    margin: 1px;
    font-weight: bold;
    color: black;
    font-family: var(--font);
    font-size: 1.2em;
    border-bottom: 4px solid black;
    border-right: 2px solid black;
    user-select: none;
}

button#openLoadSampleMenuButton, .menuButton {
    width: 60px;
}

div#effectsControl {
    align-items: center;
    justify-content: space-evenly;
    background-color: #484848;
    border-top: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliderContainer label {
    margin: 0 20px;
}

#sampleGainControl, #sampleCompressionControl, #sampleDistortionControl, #sampleDelayControl, #sampleReverbControl, #loadSampleMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    z-index: 1000;
    background-color: dimgray;
    border: 1px solid black;
    border-radius: 10px;
}

#loadSampleMenuContainer {
    padding: 0 1% 1%;
}

#trackCompressionControl, #trackGainControl, #trackReverbControl, #trackChorusControl, #trackPhaserControl, #trackVibratoControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    z-index: 1000;
    background-color: dimgray;
    border: 1px solid black;
    border-radius: 10px;
}

.closeSampleEffect, .closeTrackEffect, .closeMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 20px;
    width: 20px;
    background-color: dimgray;
    border: none;
    border-top-right-radius: 10px;
}

.closeSampleEffect:hover, .closeTrackEffect:hover, .closeMenuButton:hover {
    cursor: pointer;
}

.closeEffectButtonContainer, .closeMenuButtonContainer {
    width: 100%;
    margin-bottom: -10px;
}

.multiEffectWrapper, .loadMenuWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.loadMenuButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.effectsLabel {
    font-family: var(--font);
    font-size: 1.5em;
    margin: 5px;
}

span {
    font-family: var(--font);
}

.multiEffectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.effectContainer {
    width: 85px;
}

input[type="range"] {
    -webkit-appearance: none;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg); /*do same for other browsers if required*/
    margin: 50px 0;
    width: 100px;
    height: 5px;
    background: gray;
    outline: none;
    border: 1px solid black;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: black;
    width: 8px;
    height: 35px;
    border-radius: 2px;
}

div#playerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgray);
    margin: 0 0 5% 0;
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}

div#rollContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    margin: 5% 0 5% 0;
    border: 1px solid black;
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
}

div.beatLabel {
    height: 15px;
    margin: 2px;
    font-family: var(--font);
    user-select: none;
}

span.beatLabel {
    height: 19px;
    min-width: 300px;
}

div.seq-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    background-color: gray;
    padding: 2px 0 2px 0;
    min-height: 1px;
    min-width: 29px;
}

span.sampleLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 25px;
    width: 300px;
    text-align: center;
    font-family: var(--font);
    font-size: 1.2em;
    overflow: hidden;
    user-select: none;
}

span.sampleLabel:hover {
    cursor: pointer;
    background-color: #484848;
}

button.seq-note {
    height: 28px;
    width: 28px;
    background-color: whitesmoke;
    border: none;
    margin: 0.5px;
    border: 1px solid black;
    border-radius: 3px;
}

button.seq-note:hover {
    cursor: pointer;
}

button.deleteSample, button.muteSample {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px;
    background-color: lightgray;
    border-radius: 3px;
    margin: 0.5px;
    border: 1px solid black;
}

input[type="text"] {
    border: 1px solid black;
}

@media (max-width: 950px) {
    div#samplerContainer, div#playerContainer {
        width: 100%;
    }

    input#sampleName, input#trackTitle {
        height: 35px;
        width: 25%;
        font-size: 1em;
    }

    .sampleControl {
        width: 10%;
    }

    button.seq-note {
        height: 28px;
        width: 28px;
    }

    div.seq-column span {
        width: 150px;
    }

    div.seq-column span.sampleLabel {
        height: 28px;
    }

    span.beatLabel {
        height: 19px;
        min-width: 150px;
    }

    button.muteSample, button.deleteSample {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 800px) {
    div.seq-column span.sampleLabel {
        width: 75px;
    }

    span.beatLabel {
        height: 19px;
        min-width: 0px;
        width: 75px;
    }
}

@media (max-width: 725px) {
    div.seq-column span.sampleLabel {
        width: 28px;
    }

    div.seq-column span {
        width: 28px;
    }

    span.beatLabel {
        height: 19px;
        min-width: 0px;
        width: 28px;
    }
}

@media (max-width: 500px) {
    div.seq-column#labelColumn {
        display: none;
    }

    div#samplerContainer, div#playerContainer {
        width: 100%;
    }

    .sampleControl {
        width: 10%;
    }

    button.seq-note, .muteSample img.controlIcon, .deleteSample img.controlIcon {
        border: 1px solid black;
        height: 18px;
        width: 18px;
        margin: 0.5px;
        border-radius: 3px;
    }

    div.seq-column {
        min-width: 17px;
    }

    div.seq-column span {
        display: none;
        margin: 1px 1px 1px 2px;
    }

    button.muteSample, button.deleteSample {
        width: 17px;
        height: 17px;
        margin: 1px 2px 1px 1px;
    }

    .controlButton {
        height: 35px;
        width: 40px;
    }

    img.controlIcon {
        height: 20px;
        width: 20px;
    }

    .muteSample img.controlIcon, .deleteSample img.controlIcon {
        height: 15px;
        width: 15px;
    }

    select#selectEffect {
        width: 55px;
        font-size: 0.75em;
    }

    button#addSampleButton, button#openLoadSampleMenuButton {
        height: 35px;
        width: 60px;
        font-size: 0.75em;
    }

    #selectTrackEffect.selectEffect, #selectSampleEffect.selectEffect {
        height: 34px;
        font-size: 0.75em;
        width: 60px;
    }

    input#sampleName, input#trackTitle {
        height: 30px;
        width: 25%;
        font-size: 1em;
    }
    
    input#trackBPM {
        height: 30px;
        font-size: 1em;
    }
}